In [1]:
import pandas as pd
data_file = "Resources/budget_data.csv"
budget = pd.read_csv(data_file)

In [3]:
changelist = []
for x in range(85):
    change = budget_profit[x+1] - budget_profit[x]
    changelist.append(change)

In [4]:
datelist = []
for x in range(85):
    if budget.iloc[x+1,1] - budget.iloc[x,1] == max(changelist):
        date = budget.iloc[x+1,0]
        datelist.append(date)

In [5]:
datelist2 = []
for x in range(85):
    if budget.iloc[x+1,1] - budget.iloc[x,1] == min(changelist):
        date = budget.iloc[x+1,0]
        datelist2.append(date)

In [6]:
print("Here are my solutions!")
print("Total Months:", len(budget_months))
print("Total Net:", sum(budget_profit))
print("Average  Change:", budget_profit.mean())
print("Greatest Increase in Profits:", datelist, max(changelist))
print("Greatest Decrease in Profits:", datelist2, min(changelist))

Here are my solutions!
Total Months: 86
Total Net: 38382578
Average  Change: 446309.0465116279
Greatest Increase in Profits: ['Feb-2012'] 1926159
Greatest Decrease in Profits: ['Sep-2013'] -2196167

In [8]:
budget

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]